:root {
  --secondary: #5093fe;
  --primary: #e661b1;
  --white: #f3f3f3;
  --accent-dark: #bb3aa6;
  --accent-light: #eed058;
  --title-font: "Just Another Hand", cursive;
  --body-font: "Zilla Slab", serif;
}
