---
// Component Imports
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
import HeroIntro from "../components/HeroIntro.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

import { contentfulClient } from "../lib/contentful";
import type { TypePostFields } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { documentToPlainTextString } from "@contentful/rich-text-plain-text-renderer";

const headProps = {
  title: "Linda Explains it All",
  description: "A technical blog striving to be straight forward and fun.",
  permalink: "linda-explains-it-all.netlify.app",
};

const introProps = {
  title: "LINDA",
  subtitle: "EXPLAINS IT ALL",
};

const entries = await contentfulClient.getEntries<TypePostFields>({
  content_type: "post",
});

const posts = entries.items.map((item) => {
  const { title, slug, body, topics } = item.fields;
  const excerpt = `${documentToPlainTextString(body).slice(0, 100)}...`;
  return {
    title,
    slug,
    body: documentToHtmlString(body),
    excerpt,
    topics,
  };
});
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />

    <style>
      * {
        box-sizing: border-box;
        margin: 0;
      }
      body {
        background-color: var(--white);
        margin: 0;
      }
    </style>
  </head>

  <body>
    <Navigation />
    <main>
      <HeroIntro {...introProps} />
      <section aria-label="Blog post list">
        {
          posts.map((post) => (
            <BlogPostPreview post={post} />
            // <li>
            //   <a href={`/posts/${post.slug}/`}>
            //     <h2>{post.title}</h2>
            //   </a>
            //   <div>{post.excerpt}</div>
            // </li>
          ))
        }
      </section>
    </main>
  </body>
</html>
