---
// Component Imports
import BaseHead from '../components/BaseHead.astro';
import Navigation from '../components/Navigation.astro';
import HeroIntro from '../components/HeroIntro.astro'
import BlogPostPreview from '../components/BlogPostPreview.astro';

const headProps = {
  title: 'Linda Explains it All',
  description: 'A technical blog striving to be straight forward and fun.',
  permalink: 'linda-explains-it-all.netlify.app',
}

const introProps = {
  title: 'LINDA',
  subtitle: 'EXPLAINS IT ALL',
  description: 'Talking tech & having fun, yo!'
}

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {...headProps} />

		<style>

      * {
        box-sizing: border-box;
        margin: 0;
      }
			body {
        background-color: var(--white);
        margin: 0;
      }
		</style>
	</head>

	<body>
		<Navigation />
    <main>
      <HeroIntro {...introProps} />
      <section aria-label="Blog post list">
        {allPosts.map((p) => <BlogPostPreview post={p} />)}
      </section>
    </main>
	</body>
</html>
