---
import "../styles/vars.css";

export interface Props {
  title: string;
  subtitle: string;
}
const { title, subtitle } = Astro.props;
---

<section>
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
  <hr class="wave-divider" />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  h1,
  h2 {
    font-family: var(--title-font);
    letter-spacing: 4px;
  }

  h1 {
    color: var(--primary);
    font-size: 4rem;
    margin: 2% 0 0;
  }

  h2 {
    color: var(--secondary);
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 2%;
  }

  hr {
    border: 0;
    margin: 0.5em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
    position: relative;
    font-size: 1.4em;
    height: 1em;
    width: 75%;
  }

  hr:before,
  hr:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-size: 1em 100%;
    height: inherit;
  }

  hr:before {
    background-image: linear-gradient(
        315deg,
        var(--accent-mid) 25%,
        transparent 25%
      ),
      linear-gradient(45deg, var(--accent-mid) 25%, transparent 25%);
    background-position: 50%;
    top: -0.5em;
  }

  hr:after {
    background-image: linear-gradient(
        135deg,
        var(--accent-mid) 25%,
        transparent 25%
      ),
      linear-gradient(225deg, var(--accent-mid) 25%, transparent 25%);
    background-position: calc(50% - 0.5em);
    top: 0.5em;
  }
</style>
